@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color: hsl(225, 100%, 94%);
    --primary-color-bright-blue: hsl(245, 75%, 52%);
    --neutral-color-very-pale-blue:hsl(225, 100%, 98%);
    --neutral-color-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-color-dark-blue: hsl(223, 47%, 23%);
    
    

}
html{
    background-color: var(--background-color);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto;
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 335px;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    border-radius: 15px;
    
}
.illustration{
    width: 335px;
    border-radius: 15px 15px 0 0 ;
}
h2{
    font-weight: 700;
    text-align: center;
    padding: 1em;
    padding-bottom: 0;
    color: hsl(223, 47%, 23%);
}

p{
    font-weight: 400;
    color: var(--neutral-color-desaturated-blue);
}
.description{
    text-align: center;
    padding: 1em 2em;
    line-height: 1.5em;
    font-size: 16px;
}

.plan{
    background-color: var(--neutral-color-very-pale-blue);
    display: flex;
    border-radius: 1em;
    margin: 1em;
    margin-bottom: 2em;
}

ul{
    list-style: none;
}

li{
    padding: .8em;
    align-self: center;
    justify-self: center;
}
.btn-change{
    background-color: var(--neutral-color-very-pale-blue);
    border: none;
    text-decoration: underline;
    color: var(--primary-color-bright-blue);
    font-weight: 700;

}

.chosen-plan{
    line-height: 1.5em;

    padding-right: 1.5em;
}
h5{
    font-weight: 900;
}
.purchase{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.btn1{
    background-color: var(--primary-color-bright-blue);
    font-size: 13px;
    font-weight: 700;
    color: white;
    padding: 1em 5.5em;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 1em;
    filter: drop-shadow(0 .8em .5em rgba(171, 185, 216, 0.63));
}

.btn2{
    border-style: none;
    background-color: white;
    padding: 1em 5.5em;
    margin-bottom: 1em;
    color: var(--neutral-color-desaturated-blue);
    font-size: 13px;
    font-weight: 700;
}


@media screen and (min-width: 992px){
    html{
        background-image: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
       
    }

    .btn-change:hover{
        cursor: pointer;
        text-decoration: none;
        color: hsl(245, 82%, 63%);
    }
    .btn1:hover{
        cursor: pointer;
        background-color: hsl(245, 82%, 63%);
    }

    .btn2:hover{
        cursor: pointer;
        color: hsl(223, 47%, 23%);
    }

}